---
layout: page
title: Home page
---

<nav>
    <h1>Categories</h1>

    <ul>
{% for tag in site.tags %}
        <li><a href="/categories.html#{{ tag[0] }}">{{ tag[0] }}</a> <small>({{ tag[1].size }})</small></li>
{%endfor%}
    </ul>

</nav>

<section class="headless">

{% for post in site.posts %}
    <article>
        <a href="{{ post.url }}">
            <h1>{{ post.title }}</h1>
            <date>{{ post.date | date_to_string }}</date>
        </a>
    </article>
{% endfor %}

</section>

