---
layout: wrapper
title: A list of thoughts
description: Thinkings on life, technology and politics.
---

<header class="site-header">
  <h1 class="site-title">Posts</h1>
  <form class="search-form" action="https://www.google.com/search">
    <input type="hidden" name="sitesearch" value="robinwinslow.uk">
    <input type="search" name="q">
    <button type="submit">Search posts</button>
  </form>
</header>

<ol class="posts">
  {% for post in site.posts %}
    <li>
      <article>
        <p><time datetime="{{ post.date | date: '%F' }}">{{ post.date | date_to_long_string: "ordinal" }}</time></p>
        <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
        {% if post.description %}<p>{{ post.description }}</p>{% endif %}
      </article>
    </li>
  {% endfor %}
</ol>
