<li>
    <article>
        <a href="{{ post.url }}">
            <date>{{ post.date | date_to_string }}</date>
            <h1>{{ post.title }}</h1>
            {% if post.description %}<p>{{ post.description }}</p>{% endif %}
        </a>

{% if post.tags %}
        <nav class="tags-list muted">
            <label>Tags</label>

            <ul>
{% for tag in post.tags %}
                <li><a href="/postsbytag/#{{ tag }}">{{ tag }}</a></li>
{% endfor %}
            </ul>
        </nav>
{% endif %}
    </article>
</li>
