@mixin site-settings {
    background-color: $article-background;
    color:            $font-color;
    font-family:      $main-font;
    line-height:      $line-height;
    font-size:        1.1em;
}

@mixin index-colors {
    background-color: $dark-background;
}

@mixin heading-font {
    font-family:      $heading-font;
    font-weight:      300;
    line-height:      1.2;
}

@mixin layout-body       { margin: 0; }
@mixin layout-text-block { margin: 1em 0 0 0; }

@mixin paragraph-text    { text-align: justify; }

// Headings
@mixin title-heading     { font-size: $title-size; }
@mixin primary-heading   { font-size: $first-heading-size; }
@mixin secondary-heading { font-size: $second-heading-size; }

@mixin link-text {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;
    
    &:hover {
        opacity: 0.5;
    }
}

@mixin dark-page { @include index-colors; }

@mixin article-block {
    color:            $font-color;
    padding:          1rem;
    @include layout-content-block;
}

@mixin layout-body-block {
    max-width:     43rem;
    padding-left:  $golden-em;
    padding-right: $golden-em;
    margin-left:   auto;
    margin-right:  auto;
    @include layout-content-block;
}
@mixin layout-content-block { margin-top: $golden-em; }
@mixin layout-thin-strip    { padding: 6px 0 12px 0; }

@mixin site-header {
    @include layout-thin-strip;
    
    background-color:  black;
    font-size:         1.3em;
    overflow:          hidden;
    color:             white;

    a {
        color: #fff; /* same as dark theme */
        border-bottom: none;
    }
    h1, h2, p {
        margin-top: 0;
    }
    h1, h2 {
        text-transform: lowercase;
    }
}

@mixin address-list {
    ul {
        list-style-type: none;
        padding:         0;
        margin:          0;
        overflow:        hidden;
    }
    li {
        float:    left;
        overflow: hidden;
        margin:   0.4rem 0 0 1rem;
        &:first-child {margin-right: 0;}
    }

    span {display: none;}
}

@mixin article-list {
    article {
        margin-top: 1rem;
        padding: 1rem 0 0 0;

        border-top: 1px solid rgba(0, 0, 0, 0.1);

        &:first-of-type {
            border-top: none;
        }

        &>a {
            border-left: 1px solid rgba(0, 0, 0, 0.3);
            padding: 0 0 0 $golden-em;
            margin-left: -$golden-em;
            display:          block;
            border-bottom:    none;

            &:hover {
                border-color: rgba(255,100,0,1);
                opacity: 1;
            }
        }
    }
    
    nav {
        margin-top: 1em;
        overflow: hidden;

        h1 {
            float: left;
            font-size: 1em;
            margin-right: $golden-em;
            margin-top: 0;
            line-height: $golden-ratio;
            
            &:after {
                content: ':';
            }
        }
        
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
        li {
            float: left;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 1rem;
            width: auto;
            
            &:last-child {margin-left: 0;}
        }
    }

    .index-page nav { color: white; }
}
