// Constants
$golden-ratio:     1.618;
$golden-em:        $golden-ratio * 1em;

// Main text
$main-font:        'raleway', sans-serif;
$font-color:       #000;
$line-height:      $golden-ratio;
$link-hover-color: #555;
$small:            0.8em;

// Colors
$background-colour: #fff;

// Headings
$heading-font:        'lato light', sans-serif;
$title-size:          $golden-ratio * $golden-em;
$first-heading-size:  $golden-em;
$second-heading-size: 1em;
