$golden-ratio:     1.618;
$line-height:      $golden-ratio;
$post-background:  #fff;
$post-font-color:  #000;
$link-font-color:  #555;
$index-background: #333;
$index-font-color: #fff;
$main-font:        Arvo, garamond, serif;
$heading-font:     Lato, sans-serif;