// Constants
$golden-ratio:     1.618;
$golden-em:        $golden-ratio * 1em;

// Main text
$main-font:        Arvo, garamond, serif;
$font-color:       #000;
$line-height:      $golden-ratio;
$link-hover-color: #555;

// Headings
$heading-font:        Lato, sans-serif;
$title-size:          $golden-ratio * $golden-em;
$first-heading-size:  $golden-em;
$second-heading-size: 1em;

// Backgrounds
$article-background:  #fff;

// Overrides
// - dark
$dark-background: #333;
$dark-font-color: #fff;
