// Libraries
@import "lib/font-awesome";
@import "lib/pygments";

// Fonts
@import "fonts/lato";
@import "fonts/sourcesanspro";
@import "fonts/fontawesome";

// Settings
@import "settings";

// Mixins
@import "mixins";

// Stylesheets
/* Base styles */
html       { @include site-settings; }
body       { @include layout-body; }
h1, h2, p  { @include layout-text-block; }
p          { @include paragraph-text; }
p.side     { float: right; }

/* Headings */
h1, h2     { @include heading-font; }
header h1  { @include title-heading; }
h1         { @include primary-heading; }
h2         { @include secondary-heading; }

/* Links */
a          { @include link-text; }
article    { @include article-block; }

/* Layout blocks */
body>nav, body>article, body>section { @include layout-body-block; }
section     { @include article-list; }

/* Address */
address     { @include address-list; }

a:hover     { color: inherit; }

/* Hgroup */
hgroup      { overflow: hidden; }
hgroup>*, hgroup>h1 {
    font-size: 1.618em;
    float: left;
}
hgroup>*:first-child {
    padding-right: 1rem;
    margin-right: 1rem;
    position: relative;
}
hgroup>*:first-child:after {
    display: block;
    content: '|';
    position: absolute;
    right: -0.16em;
    top: 0;
    opacity: 0.7;
}
hgroup h1 {
    opacity: 1;
}
hgroup h2 {
    opacity: 0.5;
}

.highlight, blockquote {
    padding: 1rem;
    background-color: #ddd;
    margin: 1rem 0 0 0;
}
blockquote {
    position: relative;
    text-indent: 1rem;

    & *:not(:first-child) {
        text-indent: 0;
    }

    &:before {
        content: '\201C';
        position: absolute;
        text-indent: 0;
        font-size: $golden-em * $golden-ratio;
        top: 0;
        left: 0.5rem;
    }
}
blockquote p:first-child {
    margin-top: 0;
}
.highlight {
    overflow: auto;
}
.highlight pre {
    margin: 0;
}

/* Squeezes */
body>article, header>aside, footer>aside {
    margin: 0 auto 0 auto;
    padding: 0 1rem;
}
header>aside, footer>aside { max-width: 47rem; }

/* Header */
body>header { @include site-header }
header address li:first-child { margin-left: 0; }

/* Footer */
footer {
    margin-top: 2.618rem;
    padding: 0 0 1rem 0;
    font-size: 0.8rem;
}
footer aside, section {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


hr {
    margin: 1.5em 1em;
    border: none;
    border-bottom: 1px solid #cecece  
}

date {
    display: block;
    opacity: 0.5;
}
section {
    overflow: hidden;
    margin-top: 1.618rem;
}
section article h1 {
    margin-top: 0;
}

nav {
    margin-top: 2rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
    width: 10em;
    padding-right: 1rem;
    
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body>nav ul a { border-bottom: none; }

.comments {
    margin-top: 1.618rem;
    margin-bottom: -30px;
    padding-top: 1.618rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    
    @include layout-body-block;
}

// Responsive - larger screens
@media all and (min-width: 35em) {
    header address { float: right; }
    header hgroup { float: left; }
}

@media all and (min-width: 70em) {
  .github {
      position: absolute;
      background: transparent url('//i.imgur.com/AXvxumN.png') no-repeat top right;
      top: 0;
      right: 0;
      border: none;
      margin: 0;
      overflow: hidden;
      width: 149px;
      height: 148px;
      
      a {
          width:       100%;
          height:      100%;
          text-indent: 100%;
      }
  }
  address li:nth-last-child(2) {
      margin-right: 0;
  }
}

header+section {
    border-top: none;
    margin-top: 0;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
