<!doctype html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       
     	<title>{{ page.title }} | robin blog</title>
    	
    	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="viewport" content="width=device-width">
        
        {% css_asset_tag main %}
        - /_css/main.css
        {% endcss_asset_tag %}

        <script>
            if (location.hostname=="robinwinslow.co.uk") {
                var _gaq=[
                    ['_require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js'],
                    ['_setAccount','UA-2993676-8'],
                    ['_trackPageview']
                ];
                (function() {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    ga.src = '//www.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            }
        </script>

         <link type="application/atom+xml" rel="alternative" href="http://robinwinslow.co.uk/rss.xml" />
    </head>

    <body>
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <header>
            <aside class='vcard'>
                <hgroup>
                    <h2 class="fn given-name">Robin</h2>
                    <h1><a href="/">Blog</a></h1>
                </hgroup>

                <address>
                    <ul>
                        <li title="My CV (resumé)">
                            <a href="http://dl.dropbox.com/u/15286263/RobinWinslowMorris.pdf" class="icon-file-alt"><span class="resumé">My CV (resumé)</span></a>
                        </li>
                        <li title="Email: robin@robinwinslow.co.uk">
                            <a href="mailto:robin@robinwinslow.co.uk" class="icon-envelope"><span class="email">robin@robinwinslow.co.uk</span></a>
                        </li>
                        <li title="Phone: 07795070704">
                            <a href="tel:07795070704" class="icon-phone"><span class="tel">07795070704</span></a>
                        </li>
                        <li title="Twitter: @nottrobin">
                            <a href="https://twitter.com/nottrobin" class="icon-twitter"><span class="twitter">@nottrobin</span></a>
                        </li>
                        <li title="Facebook: robinwinslowmorris">
                            <a href="https://facebook.com/robinwinslowmorris" class="icon-facebook"><span class="facebook">robinwinslowmorris</span></a>
                        </li>
                        <li title="Fork me on Github" class="github">
                            <a href="https://github.com/nottrobin/robin-blog/" class="icon-github"><span class="github">Fork me on github</span></a>
                        </li>
                    </ul>
                </address>
            </aside>
        </header>

        {{ content }}

        <footer>
            <aside>
                <p class="side">Please <a href="http://creativecommons.org/licenses/by-sa/3.0/">copy, modify and reshare</a> my work.</p>
                <p>By <a href="https://plus.google.com/104026832761488144614" rel="author">Robin Winslow</a></a>
            </aside>
        </footer>
    </body>
</html>
