---
layout: default
---

<article>
    <header>
        <h1>{{ page.title }}</h1>
        <date>{{ page.date | date_to_string }}</date>
    </header>
    
    {{ content }}
</article>

{% if page.tags %}
<section id="categories">
    <h1>Similar posts</h1>
    
    <nav>
        <ul>
    {% for tag in site.tags %}{% if tag[0] == page.tags[0] %}
        {% for post in tag[1] %}
            {% if forloop.index < 4  and post.title != page.title %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}{% endfor %}
        </ul>
    </nav>
</section>
{% endif %}

{% if page.tags %}
<section id="categories">
    <h1>Read more about</h1>
    
    <nav>
        <ul>
    {% for tag in site.tags %}
        {% if page.tags contains tag[0] and tag[1].size > 1 %}
            <li><a href="/postsbytag.html#{{ tag[0] }}">{{ tag[0] }}</a> <small>({{ tag[1].size }})</small></li>
        {% endif %}
    {%endfor%}
        </ul>
    </nav>
</section>
{% endif %}

<div id="disqus_thread" class="comments"></div>

<script type="text/javascript">
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://robin-blog.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
